
# SpecStory explanation file
.specstory/*
#.specstory/.what-is-this.md

.env
!.env.example
.cursorignore
.cursorindexingignore
.gitignore
pyvenv.cfg
venv/*
*pycache*

Scripts/*
share/*
Lib/*
Include/*

minirag_cache/*
working_folder*/
MiniRAGsmy
MiniRAGsmy/*
minirag_cache/*
scrapyard/*
minirag_01_hf_torch_cuda_probs/*

lightrag_compatible_demo.log

log/*
logs/*
dataset/data/docs/
dataset/data/docs2/
dataset/data/*
kg_viz.html
lightrag_logs.log
