python-dotenv>=1.1.0    ##SMY: 1.1.0

gradio[oauth]>=5.29.0           ##SMY: 4.0.0  (5.29.0)

lightrag-hku>=1.4.9.3   ##SMY: 1.3.6   --> 1.4.9.3
openai>=2.3.0           ##SMY: 1.76.2  --> 2.3.0
ollama>=0.4.8           ##SMY: 0.4.8   --> 0.6.0
google-genai>=1.40.0    ##SMY: 1.43.0

## section: Gradio Error: modules load check during import moved here
pipmaster
nest_asyncio>=1.6.0     ##SMY:    #HF Spaces modulenotfounderror: No module named 'nest_asyncio' 
#google-genai            ##SMY:    ## use gemini as a client: genai
#if not pm.is_installed("gradio[oauth]==5.29.0"):
#    pm.install("gradio[oauth]==5.29.0")
pyvis>=0.3.0            ##SMY: 0.3.2
networkx>=3.4.2         ##SMY: 3.2.1  (3.4.2)
sentence-transformers   ##SMY:
hf_xet                  ##SMY:    #HF Xet Storage downloader

plotly>=6.0.1           ##SMY: 6.0.1
tiktoken>=0.9.0         ##SMY: 0.9.0
graspologic>=3.4.1      ##SMY: 3.4.1 networkx: utilities and algorithms for processing and analysis of graphs

watchfiles>=1.0.5       ##SMY: 1.0.5
#globals                 ##SMY: